<!--Navigation bar-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/navb.css"> 
</head>
<body>
    {% csrf_token %}
    <nav>  
        <ul>  
        <li>  
        <a href="#"> Home </a>  
        </li>  
        <li>  
        <a href="#"> About </a>  
        </li>  
        <li>  
        <a href="#"> Contact </a>  
        </li>  
        <li> <a href="#"> Terms of use </a>  
        </li>  
        <li>  
        <a href="#"> Join Us </a>  
        </li>
        <input type="search" name="" placeholder="search">
        <button type="submit">Search</button> 
        </ul> 
    </nav> 
    
    <main>
        <div class="side">
            <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="1.jpeg" style="width:100%">
            <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="11.jpg" style="width:100%">
            <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="3.jpg" style="width:100%">

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </main>

    
    
    <br><br>
   <!-- <h1>ijgokjebrjgoierjbgvkjbpoeirjkdsjfsdhg<br><br><br><br>fyuerghvbfyerhsdgiejhbviehfiuewhfeiuf</h1>-->

</body>
</html>
