<!--log in page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
  
    <link rel="stylesheet" href="sy1.css"> 
</head>
<body>
    
{% for n in clist %}
<div>{{forloop.counter}} {{n}}</div>
{% endfor %}
<br>

<table border="1" cellspadding="10">
    <tr>
        <th>Name</th>
        <th>Phone</th>
    </tr>
    {% for d in stud_details %}
    <tr>
        <td>{{d.name}}</td>
        <td>{{d.phone}}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>